---
http_interactions:
- request:
    method: get
    uri: https://dataservice.accuweather.com/currentconditions/v1/<LOCATION_KEY>/historical/24?apikey=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Ratelimit-Limit:
      - '50'
      Ratelimit-Remaining:
      - '39'
      Akamai-Grn:
      - 0.26962e17.1723442841.11d297ff
    body:
      encoding: UTF-8
      string: '[{"LocalObservationDateTime":"2024-08-12T07:58:00+03:00","EpochTime":1723438680,"WeatherText":"Cloudy","WeatherIcon":7,"HasPrecipitation":false,"PrecipitationType":null,"IsDayTime":true,"Temperature":{"Metric":{"Value":13.5,"Unit":"C","UnitType":17},"Imperial":{"Value":56.0,"Unit":"F","UnitType":18}},"MobileLink":"http://www.accuweather.com/en/ru/dubna/<LOCATION_KEY>/current-weather/<LOCATION_KEY>?lang=en-us","Link":"http://www.accuweather.com/en/ru/dubna/<LOCATION_KEY>/current-weather/<LOCATION_KEY>?lang=en-us"},{"LocalObservationDateTime":"2024-08-12T06:58:00+03:00","EpochTime":1723435080,"WeatherText":"Cloudy","WeatherIcon":7,"HasPrecipitation":false,"PrecipitationType":null,"IsDayTime":true,"Temperature":{"Metric":{"Value":12.6,"Unit":"C","UnitType":17},"Imperial":{"Value":55.0,"Unit":"F","UnitType":18}},"MobileLink":"http://www.accuweather.com/en/ru/dubna/<LOCATION_KEY>/current-weather/<LOCATION_KEY>?l[...]
